# Git Ignore files
venv*
/cellularGateway/MqttNBIoT/arduino_secrets.h
/cellularGateway/MqttNBIoT_UART/arduino_secrets.h
/models/
/edgeVisionNode/models/
/cloudBridge/.env
/cloudBridge/.env.*
/cloudBridge/firebase-service-key.json
*.zip
/bin/
/__pycache__/
*.py[cod]
