# Git Ignore files
venv/
# Separar e Adicionar os das APIS
cloudBridge/firebase_mqtt_mosquitto.py
cellularGateway/MqttNBIoT/
!cellularGateway/MqttNBIoT/MqttNBIoT.ino
edgeVisionNode/models/
tests_and_prototypes/NBIoT_versions/
